<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuarios</servlet-name>
        <servlet-class>Controlador.ServletUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLibros</servlet-name>
        <servlet-class>Controlador.ServletLibros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBook</servlet-name>
        <servlet-class>Controlador.ServletBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVentas</servlet-name>
        <servlet-class>Controlador.ServletVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInventario</servlet-name>
        <servlet-class>Controlador.ServletInventario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuarios</servlet-name>
        <url-pattern>/ServletUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLibros</servlet-name>
        <url-pattern>/ServletLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBook</servlet-name>
        <url-pattern>/ServletBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentas</servlet-name>
        <url-pattern>/ServletVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInventario</servlet-name>
        <url-pattern>/ServletInventario</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>corsfilter</filter-name>
        <filter-class>filters.corsfilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>corsfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
